* {
  margin: 0;
  padding: 0;
  background-color: rgb(103, 178, 49);
}

.divParant-1 {
  display: flex;
  justify-content: center;
  margin: 100px 0 80px 0px;
}


.divParant-2 {
  display: flex;
  justify-content: space-evenly;
}

.divChild-1,
.divChild-2,
.divChild-3 {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
}

.divParant-3 {
  display: flex;
  justify-content: center;
}

.divParant-4 {
  display: flex;
  justify-content: space-around;
}

.divAnswerComputeur,
.divButton,
.divAnswerHuman {
  flex: 1;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 130px;
}

button {
  font-size: 60px;
  margin: 0 20px 0 20px;
  background-color: rgb(77, 133, 37);
  border: solid 2px rgb(48, 87, 20);
  border-radius: 10px;
}

button:hover {
  background-color: rgb(48, 87, 20);
  border: solid 2px black;
  transition: 0.3s;
}

button:active {
  transform: scale(0.9);
}

.divChildRound-1 {
  display: flex;
  justify-content: center;
}

.divParantLog {
  margin-left: 150px;
}

.divParantCopyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 226px;
  background-color: rgb(48, 87, 20);
}

.pChildCopyright {
  background-color: rgb(48, 87, 20);
}